#include "ResourceIds.h"

IDR_MP3_UI_BUTTON_CLICK RCDATA "../../assets/audio/ui_button_click.mp3"
IDR_MP3_UI_CONFIRM RCDATA "../../assets/audio/ui_confirm.mp3"
IDR_MP3_UI_CANCEL RCDATA "../../assets/audio/ui_cancel.mp3"
IDR_MP3_CABLE_PULL RCDATA "../../assets/audio/cable_pull.mp3"
IDR_MP3_CABLE_BLOCKED RCDATA "../../assets/audio/cable_blocked.mp3"
IDR_MP3_LEVEL_COMPLETE RCDATA "../../assets/audio/level_complete.mp3"
